<div class="container content-container screen-height-element" id="contact-us">
  <h1 class="content-headline">Contact us</h1>
  <div class="contact-us-label">
    Do you like Concierge?
  </div>

  <div class="contact-us-small-label">
    Enter your e-mail and we will inform you about our service
  </div>

  <div class="contact-us-form">
    <form>
      <input name="email" type="email" placeholder="Your email">

      <input id="submit" name="submit" type="submit" value="Stay notified">

    </form>
  </div>


  <div class="contact-us-contact-address">
    Contact
  </div>
  <div class="contact-us-contact-address-label">
    <p>email: </p>
    <p>telephone: </p>
  </div>
  <div class="contact-us-contact-address">
    Address
  </div>

</div>