<div class="container content-container min-screen-height-element" id="how-we-help-you">
  <h1 class="content-headline">How we help you</h1>
  <div id="how-we-help-you-images-container">
    <div class="how-we-help-you-image">
      <img src="<%= image_path 'how_image1.jpg' %>" alt="" />
      <div class="how-we-help-you-image-number">
        1
      </div>
      <div class="how-we-help-you-image-label">
        Give us your request
      </div>
      <div class="how-we-help-you-image-desc">
        Call us using our mobile app or directly by phone number
      </div>
    </div>
    <div class="how-we-help-you-image">
      <img src="<%= image_path 'how_image2.jpg' %>" alt="" />
      <div class="how-we-help-you-image-number">
        2
      </div>
      <div class="how-we-help-you-image-label">
        Give us your request
      </div>
      <div class="how-we-help-you-image-desc">
        Call us using our mobile app or directly by phone number
      </div>
    </div>
    <div class="how-we-help-you-image">
      <img src="<%= image_path 'how_image3.jpg' %>" alt="" />
      <div class="how-we-help-you-image-number">
        3
      </div>
      <div class="how-we-help-you-image-label">
        Give us your request
      </div>
      <div class="how-we-help-you-image-desc">
        Call us using our mobile app or directly by phone number
      </div>
    </div>
    <div class="floating_cleaner"></div>
  </div>
  <div class="scroll-button-container-black">
    <a href="#our-service" class="scroll-button">
      Our service
    </a>
  </div>
</div>