<div class="container content-container screen-height-element" id="how-we-help-you">
  <div class="scroll-button-container-black">
    <a href="#our-service" class="scroll-button">
      Our service
    </a>
  </div>
</div>