<div class="container content-container screen-height-element" id="our-service">
  <div class="scroll-button-container">
    <a href="#contact-us" class="scroll-button">
      Contact us
    </a>
  </div>
</div>