<div class="container content-container screen-height-element" id="our-service">
  <h1 class="content-headline">Our service</h1>


  <div class="scroll-button-container">
    <a href="#contact-us" class="scroll-button">
      Contact us
    </a>
  </div>
</div>