<div class="container content-container screen-height-element" id="our-service">
  <h1 class="content-headline">Our service</h1>

  <div id="our-service-container">
    <div class="our-service-list">
      <div class="our-service-list-label">
        Everyday requests
      </div>
      <div class="our-service-list-content">
        <ul class="list-group service-list">
          <li class="list-group-item">Service#1 description.</li>
          <li class="list-group-item">Service#2 description.</li>
          <li class="list-group-item">Service#3 description.</li>
          <li class="list-group-item">Service#4 description.</li>
          <li class="list-group-item">Service#5 description.</li>
        </ul>
      </div>
    </div>

    <div class="divider-vertical"></div>

    <div class="our-service-list">
      <div class="our-service-list-label">
        Special requests
      </div>
      <div class="our-service-list-content">
        <ul class="list-group service-list">
          <li class="list-group-item">Service#1 description.</li>
          <li class="list-group-item">Service#2 description.</li>
          <li class="list-group-item">Service#3 description.</li>
          <li class="list-group-item">Service#4 description.</li>
          <li class="list-group-item">Service#5 description.</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="scroll-button-container-black">
    <a href="#contact-us" class="scroll-button">
      Contact us
    </a>
  </div>
</div>



