<div class="container content-container screen-height-element" id="welcome-screen-container">
  <div id="welcome-screen-container-background"></div>
  <div id="slogan-container">
    <img src="<%= image_path 'bg_glow.jpg' %>" id="slogan-container-background" alt="" />
    <h1 id="slogan">
      Focus on things that matter to you.<br />
      We will manage the rest
    </h1>

      <span id="booking">
        Booking on: 00-421-900-000-001
      </span>
  </div>
  <div class="scroll-button-container">
    <a href="#how-we-help-you" class="scroll-button">
      How we help you
    </a>
  </div>
</div>