<div class="container content-container screen-height-element" id="welcome-screen-container">
  <div id="slogan-container">
  </div>
  <a href="#how-we-help-you" class="scroll-button">
    <%= t :welcome_scroll_button %>
  </a>
</div>