<div class="container content-container screen-height-element" id="welcome-screen-container">
  <h1 id="slogan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
    Phone: +421 903 609 369<br />
    Email: info@locals.sk
  </h1>
  <a href="#how-we-help-you" id="first-button">
    <%= t :welcome_scroll_button %>
  </a>
</div>