<div class="container content-container screen-height-element" id="welcome-screen-container">
  <h1 id="slogan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />Quisque sed libero ac metus lobortis elementum quis sit amet purus.
  </h1>
  <a href="#how-we-help-you" id="first-button">
    <%= t :welcome_scroll_button %>
  </a>
</div>