@media (max-height: 1000px) {
  h1#slogan {
    padding-top: 300px;
  }
}

@media (max-height: 850px) {
  h1#slogan {
    padding-top: 200px;
  }
}

@media (max-height: 700px) {
  h1#slogan {
    padding-top: 100px;
  }
}

@media (max-width: 1800px) {
  div#slogan-container {
    margin-left: 150px;
  }
}

@media (max-width: 1700px) {
  div#slogan-container {
    margin-left: 100px;
  }
}

@media (max-width: 1600px) {
  div#slogan-container {
    margin-left: 50px;
  }
}

@media (max-width: 1500px) {
  div#slogan-container {
    width: 900px;
    margin-left: 0px;
  }
}

@media (max-width: 1000px) {
  div#slogan-container {
    width: 900px;
    margin-left: 0px;
  }
  h1#slogan {
    font-size: 45px;
    line-height: 70px;
  }

  span#booking {
    padding-top: 45px;
    font-size: 27px;
    line-height: 27px;
  }
}

@media (max-width: 900px) {
  div#slogan-container {
    width: 800px;
    margin-left: 0px;
  }

  h1#slogan {
    font-size: 40px;
    line-height: 60px;
  }

  span#booking {
    padding-top: 40px;
    font-size: 25px;
    line-height: 25px;
  }
}

@media (max-width: 800px) {
  div#slogan-container {
    width: 700px;
    margin-left: 0px;
  }

  h1#slogan {
    font-size: 45px;
    line-height: 60px;
  }

  span#booking {
    padding-top: 35px;
    font-size: 25px;
    line-height: 25px;
  }
}

@media (max-width: 700px) {
  div#slogan-container {
    width: 600px;
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  div#slogan-container {
    width: 500px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  div#slogan-container {
    width: 400px;
    margin-left: 0px;
  }
}