/* WELCOME SCREEN STYLESHEET */
#welcome-screen-container {
  background: image-url('bg-1000.jpg');
  background-position: center 100px;
  background-repeat: no-repeat;
}

@media (max-height: 900px) {
  #welcome-screen-container {
    background: image-url('bg-900.jpg');
    background-position: center 100px;
    background-repeat: no-repeat;
  }
}

@media (max-height: 800px) {
  #welcome-screen-container {
    background: image-url('bg-800.jpg');
    background-position: center 100px;
    background-repeat: no-repeat;
  }
}

@media (max-height: 700px) {
  #welcome-screen-container {
    background: image-url('bg-700-3.jpg');
    background-position: center 100px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  #welcome-screen-container {
    background: none;
  }
}

h1#slogan {
  padding-top: 50px;
  font-size: 50px;
  line-height: 80px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 1px #000000;
  font-weight: lighter;
  display: block;
  color: #ffffff;
  position: relative;
  z-index: 2;
}