/* WELCOME SCREEN STYLESHEET */
div#slogan-container {
  margin: -100px 0px 0px 200px;
  margin-top: -100px;
  overflow: visible;
  padding: 0;
  width: 1045px;
  height: 1045px;
  position: relative;
  display: block;
}

img#slogan-container-background {
  position: absolute;
  left: 522px;
  top: 522px;
  margin: -50% 0 0 -50%;
  z-index: 1;
}

h1#slogan {
  padding-top: 350px;
  font-size: 50px;
  line-height: 80px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  display: block;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0,0,0,1);
  position: relative;
  z-index: 2;
}

span#booking {
  padding-top: 50px;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Open sans', sans-serif;
  text-align: center;
  display: block;
  color: #101010;
  position: relative;
  z-index: 2;
}

div.scroll-button-container {
  width: 217px;
  background: image-url('arrow_down.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 110px;
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left:0;
  right:0;
  margin: 0 auto;
}

a#how-we-help-you {
  width: 100%;
  height: 55px;
  display: block;
  background: image-url('button_blue_background.jpg');
  background-repeat: repeat-x;
  border-radius: 3px;
  color: #ffffff;
  line-height: 55px;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  background-position: center center;
}