/* WELCOME SCREEN STYLESHEET */
#welcome-screen-container {
  background: image-url('bg-1000.jpg');
  background-position: center 100px;
  background-repeat: no-repeat;
}

@media (max-height: 900px) {
  #welcome-screen-container {
    background: image-url('bg-900.jpg');
    background-position: center 100px;
    background-repeat: no-repeat;
  }
}

@media (max-height: 800px) {
  #welcome-screen-container {
    background: image-url('bg-800.jpg');
    background-position: center 100px;
    background-repeat: no-repeat;
  }
}

@media (max-height: 700px) {
  #welcome-screen-container {
    background: image-url('bg-700.jpg');
    background-position: center 100px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  #welcome-screen-container {
    background: none;
  }
}