div#our-service {
  background-color: #ebebeb;
}


div#our-service-container {
  width: 981px;
  margin: 0 auto;
  padding: 50px 0px 210px 0px;
}


div#our-service-container-row{
  width: 981px;
  margin: 0 auto;
  padding: 50px 0px 210px 0px;
}

div.service-item img {
  margin-bottom: 13px;
}

div.service-item {
  width: 267px;
  margin-right: 90px;
  float: left;
}

//-- paing40px -->

div.our-service-list {
  width: 429px;
  margin-right: 60px;
  float: left;
}

/*
div.our-service-list-label {
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #000000;
  font-size: 30px;
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 30px;
}
*/
div.service-item {
  width: 267px;
  margin-right: 90px;
  float: left;
}


div.service-item-label{

  height: 30px;
  text-align: right;
  line-height: 30px;
  color: #000000;
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  text-decoration: none;
  margin-bottom: 13px;

}






/*
div#our-service-container div.our-service-list:nth-child(3) {
  margin-right: 0px;
}

@media (max-width: 899px) {
  div#our-service-container {
    padding-top: 0px;
    width: 267px;
  }

  div.our-service-list {
    width: 267px;
    margin: 0 auto;
    float: none;
    margin-top: 50px;
  }

  .divider-vertical{
    display: none;
  }

}
*/

